body{
    height: 100vh;
    background-color:rgb(56, 54, 54) ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color:rgb(56, 54, 54) ;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    border: 2px black solid;
    cursor: pointer;
}
#timer{
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 3rem;
}
button {
    margin: 0px 5px ;
    background-color: rgb(56, 54, 54);
    border: none;
    font-size: 2rem;
    color:white;
}
